@charset "UTF-8";

/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  /*background-color:#FFFBED;*/
    color: #333;
    font-size:16px;
}

.revealOnScroll { opacity: 0; }

.grad {
  background: #FFFBED; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FFFBED, #007679); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FFFBED, #007679); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FFFBED, #007679); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FFFBED, #007679); /* Standard syntax */
}

.uxui span {
  line-height:1.6;
  font-weight:300;
  font-size:.85em;
  text-align: center;
  display:block;

}

img.thumb {
  margin-bottom:15px;
  margin-top:45px;

}


.grad small {
  margin-left: auto;
  margin-right:auto;
}

.collapsible-body {
  text-align:left;
}

.skills {
  width:100px;
  border-radius:50%;
}

.skill-panel {
  margin:25px 0;
}


.skill-panel p {
  display:inline-block;
  vertical-align: top;
  text-align:left;
}


.boldest {
  font-size: 45pt;
}

.banded {
  background-color: white;
  /*color: #fafafa;*/
  padding: 40px 75px;
}


.banded h5 {
  margin-top:0;
  margin-bottom: 25px;

}

.banded hr {
  margin-top:35px;
  margin-bottom:35px;
  border: 1px dotted #eee;
}

.contact-banded {
  padding: 75px 75px 35px;
}

.banded-top {
  background-color:white;
  padding:75px;
}

.banded-top img {
  /*max-width:70px;*/
  margin-bottom:25px;
}

.padded {
  padding-top: 5vh;
  padding-bottom: 27vh;
}

.top {
  padding-top: 10vh;
  padding-bottom: 30vh;
}

.brand-logo {
  margin-left:25px;
}

.side-nav {
  padding-top:10vh;
}

.side-nav li {
  margin-top:2vh;
}

.bot {
  padding-bottom:100px;
}

.fa-2x {
  padding: 0 5px;

}
.btn-1 {
  margin-top:30px;
}

.side-nav .social a {
  height:auto;
}
/*#quote {
  box-sizing: border-box;
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  z-index: 1000;
  padding: 25vh;

  background-color: rgba(255,255,255,0.9);
  overflow:hidden;
}*/

.hide {
  display:none;
}

.collapsible.popout>li {
  margin-left: 0;
  margin-right: 0;
}

.card h3 {
  font-size:2em;
}

.card p {
  line-height:1.6;
  font-weight:300;
}

.screen a {
  margin-top:25px;
}

@media screen and (max-width:992px) {
  .brand-logo {
    margin-left:0;
  }
}


@media screen and (max-width: 680px) {

  .banded h5 {
    margin-top:25px;
  }

  .skill-panel {
    display:block;
    /*width:100%;*/
    margin-left:auto;
    margin-right:auto;
  }

  .banded, .banded-top, .contact-banded {
    padding:25px;
  }

  .contact-banded .left-align {
    text-align: center;
  }



}
